baseURL = 'https://ankush.one/'
languageCode = 'en-us'
title = 'Ankush Kun'

# Enable emoji support
enableEmoji = true

# Syntax highlighting
[markup]
[markup.highlight]
style = 'monokai'
lineNos = false

# Navigation menu
[menu]
[[menu.main]]
name = "About"
url = "/about/"
weight = 1
[[menu.main]]
name = "Blog"
url = "/blog/"
weight = 2
[[menu.main]]
name = "Projects"
url = "/projects/"
weight = 3
