baseURL = 'https://ankush.one/'
languageCode = 'en-us'
title = "AnkushKun OS"

# Enable emoji support
enableEmoji = true

# Suppress raw HTML warnings
ignoreLogs = ['warning-goldmark-raw-html']

# Syntax highlighting & markdown rendering
[markup]
[markup.highlight]
style = 'monokai'
lineNos = false
[markup.goldmark.renderer]
unsafe = true

# Navigation menu
[menu]
[[menu.main]]
name = "About"
url = "/about/"
weight = 1
[[menu.main]]
name = "Blog"
url = "/blog/"
weight = 2
[[menu.main]]
name = "Projects"
url = "/projects/"
weight = 3
