{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br />
{{ .Content }}

<div class="posts-list">
    {{ $timeline := where .Site.RegularPages "Section" "timeline" }}
    {{ $projects := where .Site.RegularPages "Section" "projects" }}
    {{ $all := union $timeline $projects }}
    {{ range sort $all "Date" "desc" }}
    {{ if not .Params.private }}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "2006" }}</div>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}