@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  background-color: #faf0e6;
}

* {
  transition-duration: 100ms;
  transition-property: all;
  scroll-behavior: smooth !important;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}